form {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#zip {
  height: 60px;
  width: 320px;
  padding: 0 10px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 2rem;
  font-family: monospace;
}

.zip--error {
  border: 2px solid red !important;
}

.zip-container--error::after {
  content: "This field can't be empty.";
  color: red;
}

#feelings {
  font-size: 1.5rem;
  width: 500px;
  height: 100px;
  margin-bottom: 50px;
}

#generate {
  width: 15vw;
  font-size: 1.5rem;
  align-self: center;
}

table {
  font-size: 1.5rem;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: 10px 50px;
}

.border {
  border: 2px solid darkgray;
}